@(tasksForDisplay: List[List[Task]], displayForm: Form[Display], user: User)

@import helper._

@main("On the DOT! -- Planner", user) {
<h1>Planner:</h1>

	<h2>View Date:</h2>
	@form(routes.Planner.displayPlanner()){
		@inputDate(
	        	displayForm("centerDate"),
	        	'_label -> ""
	        ) <input type="submit" value="Set" class="formbutton">
	}
	<br>
	<h2>to-dos(s):</h2>

   	<table id="planner"><tr>
   	<th><h4>Previous Day</h4></th>
   	<th><h3>Selected Day</h3></th>
   	<th><h4>Day After</h4></th>
   	<th><h4>2nd Day After</h4></th>
   	</tr><tr>
   	<td>
	
	@for(task <- tasksForDisplay(0)){
				<div class=@task.taskType>
	    			<b>@task.title</b>
	    			<br><i>@task.taskType</i>
	    			<br>@task.dateDisplayed
	    			<br>@task.start -- @task.end
	    			<br>Place: @task.place
	    			<br>Other Notes: @task.notes
	    			<div align="right" style="padding-top: 5px;">@form(routes.Tasks.delete(task.id))	{
	    				<input type="submit" value="delete" class="simpleButton">
	    			}</div>
	    		</div><br>
	}
	</td><td>
	
	@for(task <- tasksForDisplay(1)){
				<div class=@task.taskType>
	    			<b>@task.title</b>
	    			<br><i>@task.taskType</i>
	    			<br>@task.dateDisplayed
	    			<br>@task.start -- @task.end
	    			<br>Place: @task.place
	    			<br>Other Notes: @task.notes
	    			<div align="right" style="padding-top: 5px;">@form(routes.Tasks.delete(task.id))	{
	    				<input type="submit" value="delete" class="simpleButton">
	    			}</div>
	    		</div><br>
	}
	</td><td>
	
	@for(task <- tasksForDisplay(2)){
				<div class=@task.taskType>
	    			<b>@task.title</b>
	    			<br><i>@task.taskType</i>
	    			<br>@task.dateDisplayed
	    			<br>@task.start -- @task.end
	    			<br>Place: @task.place
	    			<br>Other Notes: @task.notes
	    			<div align="right" style="padding-top: 5px;">@form(routes.Tasks.delete(task.id))	{
	    				<input type="submit" value="delete" class="simpleButton">
	    			}</div>
	    		</div><br>
	}
	</td><td>
	
	@for(task <- tasksForDisplay(3)){
				<div class=@task.taskType>
	    			<b>@task.title</b>
	    			<br><i>@task.taskType</i>
	    			<br>@task.dateDisplayed
	    			<br>@task.start -- @task.end
	    			<br>Place: @task.place
	    			<br>Other Notes: @task.notes
	    			<div align="right" style="padding-top: 5px;">@form(routes.Tasks.delete(task.id))	{
	    				<input type="submit" value="delete" class="simpleButton">
	    			}</div>
	    		</div><br>
	}
	</td>
	</tr></table>
    
    <br><br>
    <form action="@routes.Tasks.create()">
    <input type="submit" value="Add a New Task" class="largebutton">
	</form>
    

}