@(userForm: Form[User])
@import helper._
<html>
	<head>
		<title>On the DOT! -- New User</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ontheDOTicon.png")">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	</head>
	<body>
		<header>
			<a href="@routes.Application.index" id="logo">Home</a>
		</header>
		
		<h1>Create a new account!</h1>
		<h2>Already a user? <a href="@routes.Application.login()">Login</a></h2>
		
		@form(routes.Users.save()) {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Pick a user name")
            @inputText(userForm("email"), '_label -> "Enter your email address")
            @inputText(userForm("password"), '_label -> "Choose a password")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Roll me an account!" class="btn primary"> or 
            <a href="@routes.Users.create()" class="btn">Cancel</a> 
        </div>
		}
		
	</body>
</html>