@(taskForm: Form[Task], user: User)

@import helper._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render) } 

@main("On the DOT! -- New Task", user) {
    
    <h1>Add a task</h1>
    
    @form(routes.Tasks.save) {
        @inputText(
    		taskForm("title"),
    		'_label -> "Task"
    	)
    	
    	@select(
            field = taskForm("taskType"), 
            options = options(
                "" -> "Select one:",
                "Class" -> "Class",
                "Work" -> "Work",
                "Project" ->  "Project",
                "Meeting/Appointment" -> "Meeting/Appointment",
       			"Errand" -> "Errand",
       			"Activity/Event" -> "Activity/Event",
       			"Other" -> "Other"
            ),
            '_label -> "Type"
        )
        
        @inputDate(taskForm("date"), '_label -> "Date")
        <br>
        Please follow these examples when entering start and end times:
        <ul>
        <li>9:10 am</li>
        <li>11:45 pm</li>
        </ul>
        
        @inputText(
        	taskForm("start"),
        	'_label -> "Start Time [hour:min am/pm]"
        )
        
        
        @inputText(
        	taskForm("end"),
        	'_label -> "End Time [hour:min am/pm] Examples: '9:10 am' , '11:45 pm'"
        )
        
        @inputText(
        	taskForm("place"),
        	'_label -> "Place"
        )
        
        @inputText(
        	taskForm("notes"),
        	'_label -> "Other notes"
        )

        <div class="actions">
            <input type="submit" value="Create this task" class="formbutton"> or 
            <a href="@routes.Application.index()">Cancel</a> 
        </div>
        
    }
    
}