@(todoTasks: List[Task], user: User)

@main("On the DOT!", user) {
    <h1>Welcome!</h1>
    Welcome, @user.name, to <b>On the DOT!</b>, our awesome new web application that will
    help you plan out your day and build schedules.
    <br><br>
    Please click one of the following links to continue.
    <br><br>
	<form action="@routes.Planner.displayPlanner">
    <input type="submit" value="View Planner" class="largebutton">
	</form><br>
	<form action="@routes.Tasks.create()">
    <input type="submit" value="New Task" class="largebutton">
	</form><br>


}
