@(todoTasks: List[Task], user: User)

@main("On the DOT!", user) {
    <h1>Welcome!</h1>
    Welcome, @user.name, to <b>On the DOT!</b>, our awesome new web application that will
    help you plan out your day and build schedules.
    <br><br>
    Please click one of the following links to continue.
    <br><br>
	<form action="@routes.Planner.displayPlanner">
    <input type="submit" value="View Planner" class="largebutton">
	</form><br>
	<form action="@routes.Tasks.create()">
    <input type="submit" value="New Task" class="largebutton">
	</form><br>
    
    
<!-- We probably won't need this.
    <article class="tasks">
    	@todoTasks.groupBy(_.startTime).map	{
    		case (date, tasks)	=>	{
    			<div class="date">
    				<header>
    					<h3>@date</h3>
    				</header>
    				<ul class="list">
    					@tasks.map	{task =>
    						@views.html.tasks.item(task)
    					}
    				</ul>
    			</div>
    		}
    	}
    </article>
-->

}
