@(todoTasks: List[Task], user: User)

@main("calendar manager", user) {
    <header>
    	<hgroup>
    		<h1>Calendar</h2>
    		<h2>Tasks for week ___</h2>
    	</hgroup>
    </header>
    
    <article class="tasks">
    	@todoTasks.groupBy(_.date).map	{
    		case (date, tasks)	=>	{
    			<div class="date">
    				<header>
    					<h3>@date</h3>
    				</header>
    				<ul class="list">
    					@tasks.map	{task =>
    						@views.html.tasks.item(task)
    					}
    				</ul>
    			</div>
    		}
    	}
    </article>
}
