@(form: Form[Application.Login])

<html>
	<head>
		<title>On the DOT! -- Login</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ontheDOTicon.png")">
	</head>
	<body>
		<header>
	    <div id="headerimg">
    		<img src="assets/images/ontheDOTheaderimage.png" usemap="#logomap">
    	</div>
    	<map name="logomap">
  			<area shape="circle" coords="230,110,95" alt="On the DOT!" href="@routes.Application.index">
		</map>
		</header>
		
		<div class="content">
		@helper.form(routes.Application.authenticate)	{
		<h1>Sign in</h1>
		@if(form.hasGlobalErrors)	{
			<p class="error">
				@form.globalError.message
			</p>
		}
		@if(flash.contains("success"))	{
			<p class="success">
				@flash.get("success")
			</p>
		}
		<p>
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<button type="submit" class="formbutton">Login</button>
		</p>
		}
		<br>
		<h2>Don't have an account? No worries.</h2>
		<form action="@routes.Users.create()">
    	<input type="submit" value="Sign up!" class="largebutton">
		</form>
		Signing up takes less than a minute!
		<br>
		</div>
		
		<div class="whitespace">
   		<br></br>
   		</div>
	</body>
</html>